[% styles.d0 = 'background-color: #D0D0D0; color: black;' %]
[% styles.d1 = 'background-color: #F0F0F0; color: black;' %]
[% styles.d0Renewed = 'background-color: #2DC800; color: black;' %]
[% styles.d1Renewed = 'background-color: #6FFF44; color: black;' %]
[% styles.d0Flagged = 'background-color: #FF4848; color: black;' %]
[% styles.d1Flagged = 'background-color: #FF9797; color: black;' %]
<div>
  <h2>Checkouts as of [% today | html %]</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Format</th>
      <th>Due Date</th>
      <th>New Due Date</th>
      <th>Days Left</th>
      <th>Renew</th>
    </tr>
[% FOREACH checkout IN checkouts %]
    [% status = '' %]
    [% status = 'Renewed' IF checkout.was_renewed; %]
    [% status = 'Flagged' IF checkout.flagged; %]
    [% digit = loop.index % 2 %]
    [% class = "d${digit}${status}" %]
    <tr class="[% class %]" style="[% styles.$class %]">
      <td>[% checkout.title | html %]</td>
      <td>[% checkout.format | html %]</td>
      <td>[% checkout.due_date_orig.strftime('%F') | html %]</td>
      <td><[% checkout.due_date_new.strftime('%F') | html %]/td>
      <td>[% checkout.days_left | html %]</td>
      <td>[% IF checkout.renewable %]<a href="[% checkout.renew_uri %]">renew</a>[% END %]</td>
    </tr>
[% END %]
  </table>
